<div class="mt-4">
    <div>
        <h3>Khóa học đã xóa</h3>
        <a href="/me/stored/courses">Quay lại</a>
    </div>
    <table class="table mt-4">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Tên khóa học</th>
                <th scope="col">Trình độ</th>
                <th scope="col" colspan="2">Thời gian tạo</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            {{#each courses}}
            <tr>
                <th scope="row">{{sum @index 1}}</th>
                <td>{{this.name}}</td>
                <td>{{this.level}}</td>
                <td>{{this.createdAt}}</td>
                <td>
                    <a href="" class="btn btn-link btn-restore" data-id="{{this._id}}">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="#007FFF"
                            class="bi bi-arrow-clockwise" viewBox="0 0 16 16">
                            <path fill-rule="evenodd"
                                d="M8 3a5 5 0 1 0 4.546 2.914.5.5 0 0 1 .908-.417A6 6 0 1 1 8 2z" />
                            <path
                                d="M8 4.466V.534a.25.25 0 0 1 .41-.192l2.36 1.966c.12.1.12.284 0 .384L8.41 4.658A.25.25 0 0 1 8 4.466" />
                        </svg>
                    </a>
                    <a href="" data-toggle="modal" data-target="#delete-course-modal" class="btn btn-link"
                        data-id="{{this._id}}">
                        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="#FF0000" class="bi bi-x"
                            viewBox="0 0 16 16">
                            <path
                                d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708" />
                        </svg>
                    </a>
                </td>
            </tr>
            {{else}}
            <tr>
                <td colspan="5" class="text-center">
                    Thùng rác trống.
                    <a href="/me/stored/courses">Danh sách khóa học</a>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>

{{!-- Confirm delete courses --}}
<div id="delete-course-modal" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Xác nhận</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Bạn muốn xóa khóa học này không</p>
            </div>
            <div class="modal-footer">
                <button type="button" id="btn-delete-course" class="btn btn-danger">Có</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Không</button>
            </div>
        </div>
    </div>
</div>

<form name="delete-course-form" method="POST"></form>
<form name="restore-course-form" method="POST"></form>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        var courseID
        var restoreBtn = $('.btn-restore')
        var deleteForm = document.forms['delete-course-form']
        var restoreForm = document.forms['restore-course-form']
        var btnDeleteCourse = document.getElementById('btn-delete-course')
        //when dialog confirm click
        $('#delete-course-modal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget)
            courseID = button.data('id')
        })
        btnDeleteCourse.onclick = function () {
            deleteForm.action = '/courses/' + courseID + '?_method=DELETE'
            deleteForm.submit()
        }
        restoreBtn.click(function (e) {
            e.preventDefault()

            var courseID = $(this).data('id')
            restoreForm.action = '/courses/' + courseID + '/restore?_method=PATCH'
            restoreForm.submit()
        })
    })
</script>